StudentResults.dtd

<!ELEMENT StudentResults (StudentTeam|TeamNumber|Observation|Question|Hypothesis|DataQueryParameters|Results|Conclusion|FutureDirection)>

	<!ELEMENT TeamNumber (#PCDATA)>
	<!ELEMENT Observation (#PCDATA)>
	<!ELEMENT Question (#PCDATA)>
	<!ELEMENT Hypothesis (#PCDATA)>
	<!ELEMENT DataQueryParameters (#PCDATA)>
	<!ELEMENT Results (#PCDATA)>
	<!ELEMENT Conclusion (#PCDATA)>
	<!ELEMENT FutureDirection (#PCDATA)>
